.entryContainer {
  background: $mainBg;
  padding: 90px 0;
  &_wrapper {
    padding: 40px;
    @include boxSet;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    article {
      width: calc(33.3333% - 20px);
      display: flex;
      flex-direction: column;
      margin: 0 0 30px 0;
    }
  }
}

@media screen and (max-width: $maxWidth) {
  .entryContainer {
    padding: 50px;
    &_wrapper {
      padding: 40px;
    }
    article {
      width: calc(50% - 20px);
    }
  }
}


@media screen and (max-width: 768px) {

  .entryContainer {
    padding: 50px 30px;
    &_wrapper {
      padding: 30px 15px;
    }
    article {
      width: 100%;
    }
  }
  .entry {
    margin: 30px 0;
  }
}

@media screen and (max-width: 480px) {
  .entryContainer {
    padding: 50px 15px;
    flex-direction: column;
    align-items: center;
    article {
      width: 100%;
    }
  }
}
